.profile-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.profile-field {
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  align-items: center;
}

.profile-field__label {
  font-size: 0.9rem;
  color: var(--secondary);
}

.profile-field__value {
  font-size: 1rem;
}