:root {
  --bg-color: #2f2e2e;
  --bg-color-back: #383737;
  --nav-color: #252424;
  --screen-title-color: #2b2a2a;
  --primary-color: #ccd921;
  --primary_light-color: #f7f9d2;
  --error-color: #faab00;
  --success-color: #2e7d32;
  --secondary: #9edf36;
  --secondary-color: #97a800;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-back);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--primary_light-color);
  text-decoration: dotted;
}

.m1 {
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.icon {
  width: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.icon--small {
  width: 1rem;
}

.icon--inverse {
  background-color: var(--primary-color);
  border-radius: 25%;
}

.icon--active_inverse {
  background-color: var(--bg-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
  padding: 0;
}

.btn-add-circle {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-add-circle--large {
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
}

.btn-add-circle--small {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.btn--primary {
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.number-field,
.text-field {
  border: none;
  margin: 0.25rem;
}

.number-field:focus,
.text-field:focus {
  outline: none;
  border: 0.15rem solid var(--primary-color);
}

.number-field--error,
.text-field--error {
  border: 0.15rem solid var(--error-color);
}

.number-field--error:focus,
.text-field--error:focus {
  border: 0.15rem solid var(--error-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-error {
  color: var(--error-color);
  margin-bottom: 0.5rem;
}

.navbar {
  background: var(--nav-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.navbar--title:visited {
  color: inherit;
  font-size: 15px;
  font-weight: 800 !important;
}

.navbar--title {
  font-size: 2rem;
  font-weight: 700;
}

.logged-out-bar {
  background: var(--nav-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-bottom: 2rem;
}

.logged-out-bar--title {
  margin: 0;
}

.page {
}

.page--title-container {
  padding: 0 1.5rem 0 1.5rem;
  background-color: var(--screen-title-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page--title-container__main {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.page--title-container__section {
}

.page--title-main {
  text-overflow: ellipsis;
  overflow: hidden;
  text-align: left;
  margin: 0;
}

.page--title-section {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
}

.page--section {
  margin-top: 1rem;
}

.page--section-content {
  padding: 0;
  background-color: var(--screen-title-color);
}

.navbar--item {
  height: 3rem;
}

@media (min-width: 900px) {
  .logged-out-bar {
    flex-direction: row;
  }

  .page--section-content {
    padding: 0 1.5rem 1.5rem 1.5rem;
  }
}
.session-photo {
  margin-bottom: 2rem;
}

.session-photo--image {
  width: 100%;
}

.session-photo-bar {
  display: flex;
  justify-content: right;
}
