:root {
  --bg-color: #2f2e2e;
  --primary-color: #ccd921;
  --primary_light-color: #f7f9d2;
  --zelena: #45af5e;
  --secondary: #9edf36;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: var(--primary_light-color);
  text-decoration: dotted;
}

.m1 {
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.icon {
  width: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.icon--small {
  width: 1rem;
}

.icon--inverse {
  background-color: var(--primary-color);
  border-radius: 25%;
}

.icon--active_inverse {
  background-color: var(--bg-color);
}

.btn-add-circle {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  height: 4rem;
  width: 4rem;
  font-size: 3rem;
  border-radius: 50%;
  cursor: pointer;
}

.btn-add-circle--small {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
