:root {
  --bg-color: #2f2e2e;
  --bg-color-back: #383737;
  --nav-color: #252424;
  --screen-title-color: #2b2a2a;
  --primary-color: #ccd921;
  --primary_light-color: #f7f9d2;
  --error-color: #d32f2f;
  --success-color: #2e7d32;
  --secondary: #9edf36;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-color-back);
  color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: var(--primary_light-color);
  text-decoration: dotted;
}

.m1 {
  margin: 1rem;
}

.p1 {
  padding: 1rem;
}

.icon {
  width: 1.5rem;
  cursor: pointer;
  padding: 0.5rem;
}

.icon--small {
  width: 1rem;
}

.icon--inverse {
  background-color: var(--primary-color);
  border-radius: 25%;
}

.icon--active_inverse {
  background-color: var(--bg-color);
}

.btn {
  background-color: var(--primary-color);
  color: var(--bg-color);
  border: none;
  cursor: pointer;
}

.btn-add-circle {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  font-size: 3rem;
}

.btn-add-circle--small {
  height: 2rem;
  width: 2rem;
  font-size: 1.5rem;
}

.btn--primary {
  padding: 0.6rem;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 0.5rem;
}

.btn-wrapper {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
textarea {
  border-radius: 0.5rem;
  padding: 0.4rem;
}

.number-field,
.text-field {
  border: none;
  margin: 0.25rem;
}

.number-field:focus,
.text-field:focus {
  outline: none;
  border: 0.15rem solid var(--primary-color);
}

.number-field--error,
.text-field--error {
  border: 0.15rem solid var(--error-color);
}

.number-field--error:focus,
.text-field--error:focus {
  border: 0.15rem solid var(--error-color);
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.message {
  font-size: 1.5rem;
  width: fit-content;
  padding: 0.25rem;
  border-radius: 0.75rem;
}

.message--error {
  color: var(--error-color);
  border: var(--error-color) 2px solid;
}

.message--success {
  color: var(--success-color);
  border: var(--success-color) 2px solid;
}

.navbar {
  background: var(--nav-color);
}

.screen-title {
  background-color: var(--screen-title-color);
}